<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>流量分析</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
<br>
<br><!--时间流量图-->
<div class="container" style="height: 400px; width: 90%">
    <div id="time_flow" style="height: 400px;width: 75%;float:left;"></div>
    <div id="flow_in_out" style="height: 400px;width: 25%;float:left;"></div>
</div>

{% autoescape false %}
<!-- ECharts单文件引入 -->
<script src="../../static/echarts-2.27/build/dist/echarts.js" type="text/javascript"></script>

<!--api数据读取-->
<script type="text/javascript">
var flow_async_data = {
    "time_flow_keys": [
      "2022-04-20 19:48:58"
    ], 
    "time_flow_values": [
      0
    ]
  };
</script>

<!--时间流量曲线图-->
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: '../../static/echarts-2.27/build/dist/'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('time_flow'));

            var option = {
                title : {
                    text: '时间流量图',
                    x:'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                calculable : false,
                xAxis : [
                    {
                        type : 'category',
                        name : '相对时间',
                        boundaryGap : true,
                        data : flow_async_data["time_flow_keys"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        name : '数据包字节',
                        axisLabel : {
                            formatter: '{value} byte'
                        }
                    }
                ],
                series : [
                    {
                        name:'数据包字节',
                        type:'line',
                        smooth:true,
                        symbol: 'none',
                        itemStyle:{
                            normal:{
                                label:{show:true},
                                color:'#6495ed', //图例颜色设置
                                },
                            emphasis:{label:{show:true}}
                                },
                        data:flow_async_data["time_flow_values"]
                    }
                ]
            };

            // 为echarts对象加载数据
            setInterval(function () {
                $.getJSON("/api/flow_async/", function(data) {
                    //flow_async_data 代表读取到的json中的数据
                    flow_async_data = data;
                    option["xAxis"][0]["data"] = flow_async_data["time_flow_keys"];
                    option["series"][0]["data"] = flow_async_data["time_flow_values"];
                });
                myChart.setOption(option);
            }, 500);

        }
    );



</script>
{% endautoescape %}