<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/media/image/favicon.ico" />
    <title>页面正在施工中</title>
    <style>
        html {
            height: 100%;
        }
        body {
            background-image: url(../../static/media/image/MG-vis/施工.png);
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>
</head>
<body>
    <div></div>
    <!-- 页面正在施工中 -->
</body>
</html>