<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8" />
	<title>online Analyzer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="挖矿流量检测系统" name="description" />
	<meta content="" name="author" />

	<link href="../../static/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/style-metro.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/style.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/style-responsive.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
	<link href="../../static/media/css/uniform.default.css" rel="stylesheet" type="text/css" />

	<link href="../../static/media/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/daterangepicker.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/fullcalendar.css" rel="stylesheet" type="text/css" />
	<link href="../../static/media/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="../../static/media/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" href="../../static/media/image/favicon.ico" />

</head>

<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR 头部横条 -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="{{url_for('index')}}">
					
				   	<img src="../../static/media/image/MG-vis/限高.png" class="img-responsive" alt="logo"  width="185" />
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
					<img src="../../static/media/image/menu-toggler.png" alt="" />
				</a>
				<!-- END RESPONSIVE MENU TOGGLER -->
				<!-- END TOP NAVIGATION MENU -->
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<br />
				</li>
				<li class="open start active">
					<a href="{{url_for('flow_async')}}" target="main-content">
						<i class="icon-home"></i>
						<span class="title">实时流量信息</span>
						<span class="selected"></span>
					</a>
					<ul class="sub-menu"></ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="icon-bar-chart"></i>
						<span class="title">在线流量分析</span>
						<span class="arrow "></span>
						<span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{ url_for('online_basedata') }}" target="main-content">
								基本信息
							</a>
						</li>
						<li>
							<a href="{{ url_for('online_protoanalyzer') }}" target="main-content">
								协议分析
							</a>
						</li>
						<li>
							<a href="{{ url_for('onexceptinfo') }}" target="main-content">
								IOC匹配
							</a>
						</li>
						<li>
							<a href="{{ url_for('flow') }}" target="main-content">
								模型分析
							</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="icon-eye-open"></i>
						<span class="title">离线数据包分析</span>
						<span class="arrow "></span>
						<span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{ url_for('upload') }}" target="main-content">
								数据包上传
							</a>
						</li>
						<li>
							<a href="{{ url_for('basedata') }}" target="main-content">
								基本信息
							</a>
						</li>
						<li>
							<a href="{{ url_for('protoanalyzer') }}" target="main-content">
								协议分析
							</a>
						</li>
						<li>
							<a href="{{ url_for('exceptinfo') }}" target="main-content">
								IOC匹配
							</a>
						</li>
						<li>
							<a href="{{ url_for('mlinfo') }}" target="main-content">
								模型分析
							</a>
						</li>

					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="icon-warning-sign"></i>
						<span class="title">异常信息</span>
						<span class="arrow "></span>
						<span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{ url_for('warn_async') }}" target="main-content">
								挖矿警告 - 实时
							</a>
						</li>
						<li>
							<a href="{{ url_for('warn_async') }}" target="main-content">
								挖矿警告 - 离线数据包
							</a>
						</li>
						<li>
							<a href="{{ url_for('flow') }}" target="main-content">
								损失估计
							</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="icon-download-alt"></i>
						<span class="title">证据提取</span>
						<span class="arrow "></span>
						<span class="selected"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{ url_for('flow') }}" target="main-content">
								握手指纹提取
							</a>
						</li>
						<li>
							<a href="{{ url_for('wallet_analysis') }}" target="main-content">
								钱包地址分析
							</a>
						</li>
						<li>
							<a href="{{ url_for('miningpool') }}" target="main-content">
								矿池跟踪
							</a>
						</li>
						<li>
							<a href="{{ url_for('flowdownload') }}" target="main-content">
								原始流量转储
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE  内嵌流量分析渲染前端页面 -->
		<div class="page-content" id="div-content">
			<iframe class="main-content" id="flow_reflash" src="{{ url_for('flow_async') }}" name="main-content"
				scrolling="auto"></iframe>
		</div>
		<!-- END PAGE -->
	</div>
	
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			<p>版权所有 侵权必究</p>
			<p>MininGoven &copy; 2022</p>
		</div>

	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="../../static/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="../../static/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="../../static/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="../../static/media/js/bootstrap.min.js" type="text/javascript"></script>

	<script src="../../static/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="../../static/media/js/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="../../static/media/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="../../static/media/js/jquery.uniform.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="../../static/media/js/app.js" type="text/javascript"></script>
	<!-- <script src="../../static/media/js/index.js" type="text/javascript"></script> -->
	<!-- END PAGE LEVEL SCRIPTS -->
	<script type="text/javascript">
		jQuery(document).ready(function () {
			App.init(); // initlayout and core plugins
		});
		
		function iframechange() {
			var width = document.getElementsByClassName("page-content").width();
			var height = document.getElementsByClassName("page-content").height();
			document.getElementById("iframe-content").width = width;
			document.getElementById("iframe-content").height = height;
			console.log(height);
		}
		document.getElementsByClassName("page-content").onresize = iframechange();
	</script>
	<!-- END JAVASCRIPTS -->
	
</body>
<!-- END BODY -->

</html>