<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/media/image/favicon.ico" />
    <title>使用指南</title>
</head>

<body>
    <h1>使用指南</h1>
    <h2>登录用户名和密码</h2>
    <p>用户名：user</p>
    <p>密 码：88888888</p>
    <h2>视频演示</h2>
    <p>高清的作品演示视频请参见作品附件</p>
    <video height="720" width="1280" controls>
        <source src="../../static/media/演示视频h264.mp4" type="video/mp4" codecs="hevc">
        抱歉，您的浏览器不支持在线视频播放，请升级浏览器。
    </video>
</body>

</html>